@* Pages/Shared/_LoginPartial.cshtml *@
@using Microsoft.AspNetCore.Identity
@using Social_Media.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/">
				<button type="submit" class="nav-link btn btn-link">Logout</button>
			</form>
		</li>
	}
</ul>